.container{
    margin:0 auto;
    padding: 30px;
    width: 600px;
    background-color:rgb(75, 86, 137);
    border: 5px solid;
    border-radius: 15px;
}
select{
    padding: 10px 200px;
    /* padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px; */
    text-align: center;
    border-radius: 10px;
}
 option{
    text-align: center;
    padding: 10px ;
 }
input{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 300px;
    text-align: center;
    border-radius: 10px;
}
.submitbutton{
    padding: 10px  ;
    background-color: aqua;
    border-radius: 10px;
}
body{
    color: antiquewhite;
    font-family: sans-serif;
}